<div class="jumbotron">
  <h1>Homemade food, anywhere, anytime</h1>
  <h2>Make some or enjoy some</h2>
</div>
  <script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<h3 style="text-align: center">Recent food listings</h3> 
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <!--%= link_to image_tag(listing.image.url), listing %-->
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>

              <button data-sc-key="sbpb_YTU3NmYzMDMtZmU3Zi00NWQ1LTgwNDYtZDJhZjliZTZmZWQ3"
                data-name="<%= listing.name %>"
                data-description="<%= listing.name %> by QuikFood"
                data-reference="<%= listing.user.id %>"
                data-amount="<%= listing.price*100 %>"
                data-color="#12B830"
                data-masterpass="true"
                class="btn-success"
                data-redirect-url="http://localhost:3000/buy_card">
                Buy Now With Card <%= number_to_currency(listing.price) %>
            </button>
            <% if current_user.credits_left > (listing.price * 0.95) %>
            <button class="btn-success" style="margin-top:4px;height:45px;" onclick="javascript:location.href='buy_credits?amount=<%= listing.price * 0.95 %>&reference=<%= listing.user.id %>&id=<%= listing.id %>'">
                Buy Now With Your Credits <%= number_to_currency(listing.price * 0.95) %>
            </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br><img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none;position: absolute;left: 300px;top: 200px;" />

<% if user_signed_in? %>
  <% if current_user.account_type == "Buyer" %>
    <button data-sc-key="sbpb_YTU3NmYzMDMtZmU3Zi00NWQ1LTgwNDYtZDJhZjliZTZmZWQ3"
          data-name="QuikFood Top-Up"
          data-description="Top up your credits"
          data-reference="99999"
          data-amount="10000"
          data-color="#12B830"
          data-masterpass="true"
          data-redirect-url="http://localhost:3000/top_up">
          Top-Up your Credit [<%= number_to_currency(current_user.credits_left) %>]
      </button>
  <% else %>
    <%= link_to "New Listing", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
  <% end %>
<% end %>

